.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:royalblue;
    color: white;
    text-align: center;
}

#add-btn{
    float:right;
    
}

#patient-dropdown{
    width: 500px;
}

#seqList{
    width: 500px;
    position:relative;
    right:145px;
    
}

#patientList{
    list-style-type:none;
}

#diseaseList{
    list-style-type: none;
}